@import '../node_modules/antd/dist/antd.css';

.ant-layout-header {
	background: #f0f2f5;
	padding: 5px 10px;
	height: 40px;
	line-height: 30px;
}
.ant-layout-footer {
	line-height: 1.5;
}
.ant-layout-sider {
	background: white;
}
.ant-layout-content {
	background: white;
	color: #fff;
	min-height: 120px;
	line-height: 120px;
}
